.wrapper {
    width         : 100%;
    display       : flex;
    flex-direction: column;
    gap           : 0.5rem;
    cursor        : pointer;
    position      : relative;

    img {
        width        : 100%;
        aspect-ratio : 1/1;
        border-radius: 4px;
        box-shadow   : 0px 0 4px rgb(150, 150, 150);
        object-fit   : cover;
    }

    transition: all 0.3s;
}

.name {
    font-family: "Roboto Slab";
    font-weight: 700;
}

.price {
    font-family: "Roboto Slab";
    font-weight: 700;
    color      : cadetblue;
}
