@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

.boxA {
    margin-top           : 20px;
    display              : grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap           : 20px;
    row-gap              : 20px;

    img {
        width: 100%;
    }

    .boxToCat {
        grid-column-start: 5;
        grid-column-end  : 5;
        grid-row-start   : 1;
        grid-row-end     : 2;

        button {
            cursor    : pointer;
            display   : inline-block;
            background: none;
            border    : 1px #000 solid;
        }
    }
}

.boxB {
    margin-top         : 20px;
    display            : flex;
    // border-radius   : 30px;
    overflow           : hidden;


    .boxBLeft {
        width: 50%;

        img {
            z-index: 10;
            width  : 100%;
        }
    }

    .boxBRight {
        background-color: rgb(37, 37, 37);
        margin-left     : 20px;
        width           : 70%;
        color           : #fff;
        padding         : 40px;

        p,
        li {
            list-style    : inside;
            font-family   : 'Playfair Display';
            font-size     : 25px;
            font-weight   : 200;
            letter-spacing: 2px;
        }
    }
}

.capabilitiesContainer {
    display              : grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap           : 20px;
    margin-top           : 20px;


    p {
        font-family: 'Rubik';
        font-size  : 20px;
        font-weight: 500;
        text-align : center;
        color      : #000;
        padding    : 50px 50px;
        margin     : auto;
    }

    img {
        width: 100%;
    }

    div {
        display            : flex;
        justify-content    : center;
        align-items        : center;
        background-color   : rgb(207, 207, 207);
        border-radius      : 30px;
        // margin          : 20px;
    }
}
