.navContainer {
    z-index      : 3;
    position     : sticky;
    top          : 0;
    width        : 100%;
    display      : flex;
    background   : #fff;
    border-bottom: solid 1px rgb(134, 134, 134);
    padding      : 1rem;
}

.hamburger {
    z-index        : 3;
    display        : flex;
    justify-content: center;
    align-items    : center;

    img {
        width : 24px;
        height: 24px;
        cursor: pointer;
    }

    @media (min-width:701px) {
        display: none;
    }
}

.mobileNav {
    padding         : 57px 0 0 1rem;
    z-index         : 2;
    position        : fixed;
    top             : 0;
    left            : 0;
    height          : 0;
    width           : 100vw;
    background-color: #fff;
    display         : flex;
    flex-direction  : column;
    overflow        : overlay;
    gap             : 1rem;
    transition      : height 0.3s ease-in-out;

    a img,
    img {
        width  : 24px;
        height : 24px;
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }
    }

    ul {
        margin : 0;
        padding: 0;

        li {
            cursor     : pointer;
            font-weight: bold;
            margin     : 1rem 0;
        }
    }
}

.mobileNavVisible {
    height: 100vh;
}

.navRoutes {
    padding       : 0;
    display       : flex;
    flex          : 1;
    text-transform: uppercase;
    gap           : 1rem;

    @media (max-width:700px) {
        flex-direction: column;
    }

    li {
        color      : #000;
        font-weight: bold;
        cursor     : pointer;
        transition : color 0.3s;
        margin     : auto 0;

        &:hover {
            color: rgb(195, 0, 0);
        }
    }
}

.navLogo {
    flex   : 1;
    z-index: 3;

    @media (max-width: 700px) {
        position : absolute;
        top      : 50%;
        left     : 50%;
        transform: translate(-50%, -50%);
    }

    img {
        display: block;
        margin : auto;
        height : 70px;

        @media (max-width:700px) {
            height: 40px;
        }
    }
}

.navSocials {
    flex           : 1;
    display        : flex;
    justify-content: end;
    gap            : 1rem;

    @media (max-width:700px) {
        flex-direction: column;
    }

    a,
    img {
        margin: auto 0;
    }

    a img,
    img {
        width  : 24px;
        height : 24px;
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }
    }
}
