ul {
    margin: 0;
}

.paginationEntry {
    cursor : pointer;
    padding: 0.5rem;
}

.paginationActive {
    border-radius   : 3px;
    background-color: rgb(230, 230, 230);
}


.wrapper {
    display: flex;
}
