@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Montserrat:wght@100;500&family=Open+Sans:wght@400;600;700&display=swap');

.footerLine {
    height          : 2px;
    margin-top      : 20px;
    background-color: rgb(134, 134, 134);
}

.footerContainer {
    font-family          : 'Open Sans', sans-serif;
    margin-top           : 20px;
    padding              : 0 10%;
    background-color     : #fff;
    display              : grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap           : 100px;
    font-size            : clamp(0rem, 1.7vw, 1.4rem);
}

.contacts {
    img {
        // padding: 50px;
        width: 30%;
    }
}

.footerSocials {

    a {
        vertical-align: middle;
        // float  : right;
        // display: flex;
    }

    img {
        vertical-align: middle;
        cursor        : pointer;
        height        : 20px;
        width         : 20px;
        margin-right  : 20px;
        opacity       : 0.7;
        transition    : all 0.3s;

        &:hover {
            opacity: 1;
        }
    }
}
