.footerContainer {
    font-family: 'Open Sans', sans-serif;
    display    : flex;
    flex-wrap  : wrap;
    border-top : solid 1px rgb(134, 134, 134);

    .footerAddress {
        margin: 1rem;
        flex  : 1 300px;

        img {
            width: 30%;
        }

        .address {
            display: flex;

            img {
                width : 24px;
                height: 24px;
            }

            p {
                margin: auto 1rem;
            }
        }
    }

    .footerPhones {
        flex  : 1 300px;
        margin: 1rem;
    }

    .footerSocials {
        flex          : 1 300px;
        display       : flex;
        flex-direction: column;
        gap           : 1rem;
        margin        : 1rem;

        .socialLink {
            cursor         : pointer;
            color          : black;
            text-decoration: none;
            display        : flex;
            opacity        : 0.7;
            transition     : opacity 0.3s;

            &:hover {
                opacity: 1;
            }

            p {
                margin: auto 1rem;
            }

            img {
                width : 24px;
                height: 24px;
            }
        }
    }

}
