@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Montserrat:wght@100;500&family=Open+Sans:wght@400;600;700&display=swap');

.footerLine {
    height          : 2px;
    margin-top      : 20px;
    background-color: rgb(134, 134, 134);
}

.footerContainer {
    font-family          : 'Open Sans', sans-serif;
    display              : grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size            : clamp(0rem, 1.1vw, 1.2rem);
    margin-top           : 20px;
    padding              : 0 10%;

    .footerAddress {
        margin-left: 5%;

        img {
            width: 30%;
        }

        .address {
            display: flex;

            img {
                width : 8%;
                margin: auto 4% auto 0;
            }
        }
    }

    .footerPhones {
        margin-left: 5%;
    }

    .footerSocials {
        margin-left: 5%;

        a {
            color          : black;
            text-decoration: none;
        }

        .socialIcon {
            cursor    : pointer;
            display   : flex;
            opacity   : 0.7;
            transition: all 0.3s;

            &:hover {
                opacity: 1;
            }

            p {
                margin: auto 0
            }

            img {
                width       : 7%;
                aspect-ratio: 1/1;
                margin-right: 4%;
            }
        }
    }

}
