@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

.caroucel {
    width       : 100%;
    position    : relative;
    aspect-ratio: 2/1;

    .caroucelEntry {
        width     : 100%;
        height    : 100%;
        transition: opacity 0.5s;
        position  : absolute;

        img {
            width     : 100%;
            height    : 100%;
            object-fit: cover;
        }

        p {
            z-index    : 1;
            width      : 100%;
            font-family: 'Rubik';
            font-weight: 500;
            color      : #fff;
            text-shadow: 0px 0 90px rgb(0, 0, 0),
                0px 0 7px rgb(50, 50, 50);
            position  : absolute;
            top       : 60%;
            transition: opacity 0.5s;
            text-align: center;

            @media (min-width: 800px) {
                font-size: 2rem;
            }
        }
    }

    .invisibleImg {
        opacity: 0;
    }
}

.dots {
    z-index     : 1;
    position    : absolute;
    bottom      : 0;
    left        : 50%;
    margin-right: auto;
    margin-left : auto;
    display     : flex;
    transform   : translate(-50%, -50%);
    opacity     : 0;
    transition  : all 0.3s;

    .activeDot {
        opacity: 1;
    }

    .inActiveDot {
        opacity: 0.3;
    }

    div {
        cursor          : pointer;
        transition      : all 0.3s;
        margin          : 5px 5px;
        width           : 30px;
        height          : 15px;
        background-color: rgb(133, 133, 133);
    }

}


.caroucelArrowsContainer {
    opacity   : 0;
    z-index   : 1;
    position  : absolute;
    top       : 0;
    height    : 100%;
    width     : 100px;
    transition: all 0.3s;

    .caroucelArrow {
        cursor          : pointer;
        z-index         : 1;
        position        : absolute;
        top             : 50%;
        background-color: rgb(133, 133, 133);
        width           : 100px;
        height          : 100px;
        opacity         : 0.5;
    }

    .arrowRight {
        transform: translateY(-50%) rotate(-90deg);
    }

    .arrowLeft {
        transform: translateY(-50%) rotate(90deg);
    }
}

.caroucelArrowsContainerRight {
    right: 0;
}

.showCaroucelNavigation {
    opacity: 1;
}
